:root {
  --small-padding: 15px;
  --large-padding: 20px;
  --high-padding: 25px;
  --mt2: 2rem 0 0;
  --mb2: 0 0 2rem;
  --white-normal: #ffffff;
  --white-standar: #eaeaea;
  --black-normal: #000000;
  --black-standar: #222222;
  --white-semi-parent1: rgba(255, 255, 255, 0.1);
  --white-semi-parent2: rgba(255, 255, 255, 0.2);
  --white-semi-parent3: rgba(255, 255, 255, 0.3);
  --black-semi-parent1: rgba(0, 0, 0, 0.1);
  --black-semi-parent2: rgba(0, 0, 0, 0.2);
  --black-semi-parent3: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/anton.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

header img {
  width: 20%;
}

header img:hover {
  transition: 0.75s;
  transform: scale(1.1);
}

.data {
  margin: var(--mt2);
}

.data table {
  box-shadow: 0 5pt 15pt var(--black-semi-parent1);
}

.data table thead {
  background: rgb(53, 185, 242);
}

.data table thead th {
  font-size: 1.5vh;
  font-weight: 700;
  color: var(--black-standar);
  text-align: center;
}

.data table thead th:hover {
  transition: 0.50s;
  background: rgb(73, 235, 241);
  transform: scale(1.1);
}

.data table tbody td {
  font-size: 1.5vh;
  font-weight: 500;
  color: var(--black-normal);
  text-align: center;
}

.data table tbody td:hover {
  transition: 0.50s;
  background: rgba(53, 185, 242, 0.5);
  transform: scale(1.1);
}

.data .account {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5pt 10pt var(--black-semi-parent1);
}

.data .account h3:hover {
  transition: 0.75s;
  transform: scale(1.1);
}

.data .account .users img:hover {
  transition: 0.75s;
  transform: scale(1.1);
}

.data .account .users .users-info span:hover {
  transition: 0.75s;
  transform: scale(1.1);
} 

.data .account .users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.data .account .users .users-info {
  color: var(--black-normal);
}